@{
    ViewData["Title"] = "ProductAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xl-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Ürün Ekle</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-controller="Products" asp-action="ProductAdd" enctype="multipart/form-data" method="post">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Ürün Adı</label>
                        <div class="col-sm-9">
                            <input type="text" name="ProductName" class="form-control" placeholder="Ürün Adı">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Kategori Seçiniz</label>
                        <div class="col-sm-9">
                            <select class="form-control default-select" name="CategoryId">
                                <option value="0">Kategori Seçiniz</option>
                                @foreach (var item in ViewBag.category)
                                {
                                    <option value="@item.Id">@item.CategoryName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Ürün Fiyatı</label>
                        <div class="col-sm-9">
                            <input type="text" name="Price" class="form-control" placeholder="Ürün Fiyatı">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Açıklama</label>
                        <div class="col-sm-9">
                            <input type="text" name="Description" class="form-control" placeholder="Açıklama">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tarih</label>
                        <div class="col-sm-9">
                            <input type="datetime-local" name="Date" class="form-control" placeholder="Tarih">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tarih</label>
                        <div class="input-group mb-3 col-sm-9">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input name="Image" type="file" class="custom-file-input">
                                <label class="custom-file-label">Choose file</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Durumu</label>
                        <div class="col-sm-9 pl-5">
                            <input type="checkbox" name="Status" class="form-check-input" value="true" checked>Aktif
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

